@model IEnumerable<PlayMusic.Models.Musica>

@{
    ViewData["Title"] = "Músicas da Playlist";
}

<h2>Músicas da Playlist</h2>

@if (!Model.Any())
{
    <p>Nenhuma música encontrada.</p>
}
else
{
    <ul>
        @foreach (var musica in Model)
        {
            <li>@musica.NomeMusica - @musica.ArtistaMusica</li>
        }
    </ul>
}

<a asp-controller="Playlist" asp-action="Index" class="btn btn-secondary">Voltar</a>
